# Android Studio / Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
*.iml
*.apk
*.jks
*.abm

# Web
node_modules/
.DS_Store
Thumbs.db
OFICINA_PRO_COMPLETO.zip
